<div class="card mx-4">
    <div class="card-header">
        <ul class="nav nav-pills card-header-pills">
            <li class="nav-item" style="margin-right: 8px;" *ngIf="!conectado">
                <button class="btn btn-success" type="button" (click)="conectar()">Conectar</button>
            </li>
            <li class="nav-item" *ngIf="conectado">
                <button class="btn btn-warning" type="button" (click)="desconectar()">Desconectar</button>
            </li>
        </ul>
    </div>

    <div class="card-body" style="overflow-y: scroll; height: 380px;" *ngIf="conectado"></div>

    <div class="card-footer" *ngIf="conectado">
        <form class="form-inline">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Escribe un mensaje..." name="texto">
                    </div>
                    <div class="col-sm-2">
                        <button style="width: 100%;" class="btn btn-primary" type="submit">Enviar</button>
                    </div>
                </div>
            </div>
        </form> 
    </div>
</div>